.vp-block-media {
	padding-inline: var(--inline);

	> .container {
		max-width: var(--max-size);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: var(--s);
	}

	&.has-background {
		padding-block: var(--block);
		background: var(--grey-80);
		color: var(--white);
	}
}
