* {
	box-sizing: border-box;
}

html {
	min-width: 360px;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: var(--font-base);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

main {
	> section {
		border-block: 1px dashed var(--grey-50);

		&:where(:not(.has-background)) {
			margin-block: var(--block);
		}
	}
}

.h1 {
	font-family: var(--font-heading);
	font-size: var(--font-size-h1);
	font-weight: 700;
	line-height: var(--font-height-h1);
}
.h2 {
	font-family: var(--font-heading);
	font-size: var(--font-size-h2);
	font-weight: 500;
	line-height: var(--font-height-h2);
}
.h3 {
	font-family: var(--font-heading);
	font-size: var(--font-size-h3);
	font-weight: 400;
	line-height: var(--font-height-h3);
}
.h4 {
	font-family: var(--font-heading);
	font-size: var(--font-size-h4);
	font-weight: 500;
	line-height: var(--font-height-h4);
}
.exergue {
	font-size: var(--font-size-exergue);
	line-height: var(--font-height-exergue);
}
.chapo {
	font-size: var(--font-size-chapo);
	line-height: var(--font-height-chapo);
}
.small {
	font-size: var(--font-size-small);
	line-height: var(--font-height-small);
}

figure {
	margin: 0;

	picture {
		display: block;
	}

	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: auto;
	}
}

.hidden {
	display: none;
}

.wysiwyg {
	> *:first-child {
		margin-block-start: 0;
	}

	> *:last-child {
		margin-block-end: 0;
	}

	:where(ul, ol) {
		padding-inline-start: 1em;
	}
}

svg.vp-icon {
	pointer-events: none;
}

.has-ratio-16-9 {
	--ratio: 16 / 9;
}
.has-ratio-4-3 {
	--ratio: 4 / 3;
}
.has-ratio-1-1 {
	--ratio: 1 / 1;
}
.has-ratio-3-4 {
	--ratio: 3 / 4;
}
.has-ratio-9-16 {
	--ratio: 9 / 16;
}
